DATABASE_URL=postgresql://neondb_owner:npg_KQde7j2JLoSF@ep-weathered-rain-ayjuf6bo-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
BOT_TOKEN=8632329142:AAFIuQ35L-qKL7KU7B4U79koRni7oDyfhPw
CHAT_ID=-5532101791
PORT=3000
